{%- import "macros.j2" as macros -%}
{# Encapsulates the template form the alert_email_job.
variables for rendering: mmisp_url, event, event_sharing_group, event_thread_level,
old_publish_timestamp #}
Hallo,
you receive this e-mail because this e-mail address is set to receive alerts on the MISP instance at {{mmisp_url}}

Event details
==============================================

URL: {{mmisp_url}}/events/view/{{event.id}}
Event ID: {{event.id}}
Date: {{event.date}}
Reported by: {{event.Orgc.name}}
Local owner of the event: {{event.Org.name}}
Distribution: {{event.distribution}}
{%- if event.distribution == 4 %}
Sharing Group: {{event_sharing_group.name}}{% endif %}
Tags:
{%- if event.tags -%}
{%- for tag in event.tags -%}
    {{ " "if loop.first else "" }}{{tag[0].name}}{{ ", " if not loop.last else "" }}
{%- endfor -%}
{%- endif +%}
Threat Level: {{event_thread_level}}
Analysis: {{event.analysis}}
Description: {{event.info}}
{% if event.related_events %}
==============================================

Related to:
{% for r_event in event.related_events %}
{{ mmisp_url }}/events/view/{{r_event.id}} ({{r_event.date}})
{% endfor %}
==============================================
{% endif %}
{%- if event.attributes %}
Attributes {% if old_publish_timestamp is not none %}(* indicates a new or modified attribute since last update):

{% endif %}{{ macros.render_attributes(event.attributes, old_publish_timestamp) }}
{% endif %}

{%- if event.objects -%}
Objects {% if old_publish_timestamp is not none %}(* indicates a new or modified attribute since last update):
{% endif %}{{ macros.render_objects(event.objects, old_publish_timestamp) }}
{%- endif %}
{%- if event.objects or event.attributes %}
==============================================
{%- endif -%}
