{% from "macros.j2" import render_attributes, render_objects%}
{# Encapsulates the template form the alert_email_job.
variables for rendering: misp_url, event, event_orgc, event_org, event_sharing_group, event_thread_level,
old_publish_timestamp #}
Hallo,
you receive this e-mail because this e-mail address is set to receive alerts on the MISP instance at {{misp_url}}

Event details
==============================================
URL         : {{misp_url}}/events/view/{{event.id}}}
Event ID    : {{event.id}}
Date        : {{event.date}}
Reported by : {{event_orgc.name}}
Local owner of the event : {{event.org.name}}
Distribution: {{event.distribution}}
{%if event.distribution == 4%}
Sharing Group: {event_sharing_group.name}}
{%endif%}}
Tags:
{%- for tag in event.tag -%}
{{tuple[0].name}}{{ ", " if not loop.last else "" }}
{%- endfor %}
Threat Level: {{event_thread_level.name}}
Analysis    : {{event.analysis}}
Description : {{event.info}}
{%if event.related_events is not none%}
==============================================
Related to:
{% for r_event in event.related_events -%}
{{ misp_url }}/events/view/{{r_event.id}} ({{r_event.date}})

{% endfor %}
==============================================
{%endif%}
{%if event.attributes is not none%}
Attributes {% if old_publish_timestamp is not none%} (* indicates a new or modified attribute since last update): {endif}
    render_attributes(event.attributes)
{%endif%}

{%if event.objects is not none%}
Objects {% if old_publish_timestamp is not none%} (* indicates a new or modified attribute since last update): {endif}
    render_objects(event.objects)
{%endif%}
==============================================
