{# Encapsulates rendering misp_attributes #}

{%- macro render_attributes(attributes, old_publish_timestamp) -%}
  {%- set append_len = 20 -%}
    {%- set indent = '  ' -%}
  {%- for attribute in attributes -%}
    {%- set ids = '(IDS)' if attribute.to_ids else '' -%}
    {%- set value = attribute.value -%}
    {%- if attribute.type in ['url', 'uri'] -%}
      {%- set value = value.replace('http', 'hxxp') -%}
      {%- set value = value.replace('.', '[.]') -%}
    {%- elif attribute.type in ['email-src', 'email-dst', 'whois-registrant-email', 'dns-soa-email', 'email-reply-to'] -%}
      {%- set value = value.replace('@', '[at]') -%}
    {%- elif attribute.type in ['hostname', 'domain', 'ip-src', 'ip-dst', 'domain|ip'] -%}
      {%- set value = value.replace('.', '[.]') -%}
    {%- endif -%}
    {%- set str_repeat_count = append_len - 2 - attribute.type|length -%}
    {%- set str_repeat = ' ' * str_repeat_count if str_repeat_count > 0 else '' -%}
    {%- if old_publish_timestamp is defined and attribute.timestamp is defined and
    attribute.timestamp > old_publish_timestamp -%}
      {%- set line = '* ' ~ indent ~ attribute.category ~ '/' ~ attribute.type ~ str_repeat ~ ': ' ~ value ~ ids ~ " *\n" -%}
    {%- else -%}
      {%- set line = indent ~ attribute.category ~ '/' ~ attribute.type ~ str_repeat ~ ': ' ~ value ~ ids ~ "\n" -%}
    {%- endif -%}
      {%- set tags_names = [] -%}
      {%- if attribute.tags -%}
          {%- for tag_tuple in attribute.tags -%}
            {%- set _ = tags_names.append(tag_tuple[0].name) -%}
          {%- endfor -%}
      {%- set line = line ~ '  - Tags: ' ~ tags_names|join(', ') ~ "\n" -%}
      {%- endif -%}
    {{ line }}
  {%- endfor -%}
{%- endmacro -%}



{# Encapsulates rendering misp_objects #}

{%- macro render_objects(objects, old_publish_timestamp) -%}
    {%- set indent = '  ' -%}
  {%- for object in objects -%}
    {%- set body = '' -%}
    {%- if old_publish_timestamp is defined and object.timestamp is defined and object.timestamp > old_publish_timestamp -%}
      {%- set body = '* ' -%}
    {%- else -%}
      {%- set body = indent -%}
    {%- endif -%}
    {%- set body = "\n" ~ body ~ object.name ~ "/" ~ object.meta_category ~ "\n" -%}
      {%- if object.attribute is not none -%}
      {%- set body = body ~ render_attributes(object.attributes, old_publish_timestamp) -%}
      {%- endif -%}
    {{ body }}
  {%- endfor -%}
{%- endmacro -%}
